<div class="container p-5">
  <div class="col-sm-6">
    <input type="text" placeholder="search" class="form-control mb-5" [(ngModel)]="searchText">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of data | search : searchText">
          <td>{{e.id}}</td>
          <td>{{e.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>